body {
   background-color: #59253a; 
   color: #ffffff;
   margin: auto;
   font-family: Arial, Helvetica, sans-serif;
}
form {
   background-color: #78244c;
   margin: 50px auto;
   padding: 2.5rem;
   max-width: 75%;
   display: block;
   border-radius: 9px;
   text-align: left;
}
h1 {
   font-size: 45px;
   margin: auto;
   text-align: center;
}
 .description {
    font-size: 20px;
    text-align: center;
 }

.first_name, .last_name, .age {
   display: block;
   width: 100%;
   height: 2.75em;
   margin: 5px 0 25px 0;
   border-radius: 9px;
}
label {
   align-items: center;
   font-size: 1.1rem;
   margin-bottom: .5rem;
   display: block;
}

fieldset {
   border: none;
}

p {
   font-size: 1.4em;
   padding: 0;
   margin: 20px 0 4px 0;
}

.comment {
   width: 100%;
   height: 210px;
   border-radius: 9px;
}

.submit {
   width: 95%;
   height: 30px;
   border-radius: 25px;
   margin: auto 25px;
   background-color: #895061;
   color: #ffffff;
   border: 1px solid #000000;
}

